@import url("@fontsource/inter/index.css");

/* currently not working */
@font-face {
  font-family: 'Nunito';
  src: url('src/main/resources/META-INF/resources/fonts/Nunito-Regular.ttf') format('truetype');
  font-display: swap;
}
html {
  --lumo-primary-color: rgb(101, 85, 143);
  --lumo-primary-color-50pct: rgba(101, 85, 143, 0.5);
  --lumo-primary-color-10pct: rgba(101, 85, 143, 0.1);
  --lumo-primary-text-color: rgb(101, 85, 143);
  --lumo-body-text-color: rgb(74, 68, 89);
  --lumo-font-family: Inter;
}

